In [2]:
# Cargar librerías necesarias y definir el dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DF = pd.read_csv("Bangok_Thailand.csv")
df = DF.copy()
df

,Unnamed: 0,id,name,description,neighbourhood_cleansed,latitude,longitude,host_id,host_name,host_since,...,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,review_scores_rating,review_scores_cleanliness,reviews_per_month
0,0,27934,Nice room with superb city view,Our cool and comfortable one bedroom apartment...,Ratchathewi,13.759830,100.541340,120437,Nuttee,2010-05-08,...,2025-03-21,65,1,0,1,30,49950.0,4.86,4.82,0.41
1,1,27979,"Easy going landlord,easy place",NaN,Bang Na,13.668180,100.616740,120541,Emy,2010-05-08,...,2025-03-20,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2,28745,modern-style apartment in Bangkok,A modern-style apartment situated in a cool ne...,Bang Kapi,13.752320,100.624020,123784,Familyroom,2010-05-12,...,2025-03-20,0,0,0,0,0,NaN,NaN,NaN,NaN
3,3,47516,Beautiful waterfront house,NaN,Don Mueang,13.927260,100.585290,214456,Anuradha,2010-08-27,...,2025-03-20,0,0,0,0,0,0.0,NaN,NaN,NaN
4,4,48736,Condo with Chaopraya River View,at a size of 25sqm for your vacation in BKK.<b...,Rat Burana,13.685560,100.495350,222005,Athitaya,2010-09-03,...,2025-03-20,1,0,0,0,0,0.0,5.00,5.00,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27543,27543,1379672358263667520,"King Bed Room, 500m the Pink Line MRT,Near Air...",King bed room<br />2 shared bathrooms<br />Air...,Min Buri,13.806530,100.736748,679097032,Udomchai,2025-02-16,...,2025-03-20,0,0,0,0,0,0.0,NaN,NaN,NaN
27544,27544,1379715999009665895,2.曼谷特惠公寓出租/月租特惠/一室一厅/MRT Bangson站3分钟,"The project is located in Bangsue district, ju...",Bang Sue,13.818700,100.528080,653148266,Yangzi,2024-09-20,...,2025-03-20,0,0,0,0,0,0.0,NaN,NaN,NaN
27545,27545,1379720665926456231,2.曼谷特惠公寓出租/月租特惠/一室一厅/MRT Bangson站3分钟,"The project is located in Bangsue district, ju...",Bang Sue,13.818299,100.527187,653148266,Yangzi,2024-09-20,...,2025-03-20,0,0,0,0,0,0.0,NaN,NaN,NaN
27546,27546,1379724086373712054,2.曼谷特惠公寓出租/月租特惠/一室一厅/MRT Bangson站3分钟,"The project is located in Bangsue district, ju...",Bang Sue,13.817793,100.528221,653148266,Yangzi,2024-09-20,...,2025-03-20,0,0,0,0,0,0.0,NaN,NaN,NaN
27547,27547,1379757978013222624,2.曼谷特惠公寓出租/月租特惠/一室一厅/MRT Bangson站3分钟,"The project is located in Bangsue district, ju...",Bang Sue,13.817437,100.526098,653148266,Yangzi,2024-09-20,...,2025-03-20,0,0,0,0,0,0.0,NaN,NaN,NaN

In [3]:
# Identificar que columnas tiene NAs
df.isnull().sum()

Unnamed: 0                      0
id                              0
name                            0
description                   774
neighbourhood_cleansed          0
latitude                        0
longitude                       0
host_id                         0
host_name                       3
host_since                      2
host_location                6624
host_response_time           4066
host_response_rate           4066
host_acceptance_rate         4062
host_is_superhost            1319
host_listings_count             2
host_total_listings_count       2
host_verifications              2
host_has_profile_pic            2
host_identity_verified          2
property_type                   0
room_type                       0
accommodates                    0
bathrooms_text                105
bedrooms                     1281
beds                         5445
beds.1                       5445
price                        5390
minimum_nights                  0
maximum_nights                  0
minimum_minimum_nights          0
maximum_minimum_nights          0
minimum_maximum_nights          0
maximum_maximum_nights          0
minimum_nights_avg_ntm          0
maximum_nights_avg_ntm          0
has_availability             2233
availability_30                 0
availability_60                 0
availability_90                 0
availability_365                0
calendar_last_scraped           0
number_of_reviews               0
number_of_reviews_ltm           0
number_of_reviews_l30d          0
number_of_reviews_ly            0
estimated_occupancy_l365d       0
estimated_revenue_l365d      5390
review_scores_rating         9466
review_scores_cleanliness    9467
reviews_per_month            9466
dtype: int64

In [20]:
# La columnas que presentan missing values son:  
# description                   774
# host_name                       3
# host_since                      2
# host_location                6624
# host_response_time           4066
# host_response_rate           4066
# host_acceptance_rate         4062
# host_is_superhost            1319
# host_listings_count             2
# host_total_listings_count       2
# host_verifications              2
# host_has_profile_pic            2
# host_identity_verified          2
# bathrooms_text                105
# bedrooms                     1281
# beds                         5445
# beds.1                       5445
# price                        5390
# has_availability             2233
# estimated_revenue_l365d      5390
# review_scores_rating         9466
# review_scores_cleanliness    9467
# reviews_per_month            9466

In [4]:
# Columna 'description' con 774 NAs
# Para tratar los NAs de esta columna es mejor sustituirlos por un string en específico 'No description provided' para poder ubicar que lugares no provieron descripción del lugar.
df['description'] = df['description'].fillna("No description provided")
print(df['description'].isnull().sum())

0

In [5]:
# Columna 'host_name' con 3 
# Para no eliminar los 3 registros de esta columna ya que es el nombre de los host se sustituye por un string en concreto 'Unknown' para identificar de una manera más rápida para ubicar que host tenemos que no tienen nombre.
df['host_name'] = df['host_name'].fillna("Unknown")
print(df['host_name'].isnull().sum())

0

In [7]:
# Columna 'host_since' con 2
# Se decidió eliminar los 2 NAs de esta columna ya que no se encontro ninguna relación o patrón en las fechas en las que los host se unierón, además de que elimnar solo 2 registros de la columna no influte de manera drástica en los valores de la columna.
df = df.dropna(subset=['host_since'])
print(df['host_since'].isnull().sum())

0

In [8]:
# Columna 'host_location' con 6624
# Ya que la información de esta variable es importante, sustituir los NAs por un string en específico 'Unknown' ayudará a conocer cuáles son los lugares que no cuentan con una locación en específico y no se podría poner el valor de moda que es Bangok, Thailand ya que la columna cuenta con diferentes respuestas dentro del país así como fuera del país.
df['host_location'] = df['host_location'].fillna("Unknown")
print(df['host_location'].isnull().sum())

0

In [38]:
# Columna 'host_response_time' con 4066
# df['host_response_time'] = df['host_response_time'].

In [9]:
# Columna 'host_response_rate' con 4066
# 1. Quitar el % y convertir a número
df['host_response_rate'] = (
    df['host_response_rate']
    .str.replace('%', '', regex=True)   # quita el '%'
    .astype(float)                      # convierte a float
)

# 2. Rellenar valores nulos con la mediana
df['host_response_rate'] = df['host_response_rate'].fillna(df['host_response_rate'].median())

# 3. (Opcional) Si quieres que vuelva a quedar como string con el %
df['host_response_rate'] = df['host_response_rate'].astype(int).astype(str) + '%'

print(df['host_response_rate'].isnull().sum())

0

In [10]:
# Columna 'host_acceptance_rate' con 4062
# 1. Quitar el % y convertir a número
df['host_acceptance_rate'] = (
    df['host_acceptance_rate']
    .str.replace('%', '', regex=True)   # quita el '%'
    .astype(float)                      # convierte a float
)

# 2. Rellenar valores nulos con la mediana
df['host_acceptance_rate'] = df['host_acceptance_rate'].fillna(df['host_acceptance_rate'].median())

# 3. (Opcional) Si quieres que vuelva a quedar como string con el %
df['host_acceptance_rate'] = df['host_acceptance_rate'].astype(int).astype(str) + '%'

print(df['host_acceptance_rate'].isnull().sum())

0

In [ ]:
# Columna 'host_is_superhost' con 1319

# Checar si se puede con unkown

In [17]:
# Columnas:             
# host_total_listings_count       2
# host_verifications              2
# host_has_profile_pic            2
# host_identity_verified          2

#df = df.dropna(subset=['host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified'])
print(df.isnull().sum())

Unnamed: 0                      0
id                              0
name                            0
description                     0
neighbourhood_cleansed          0
latitude                        0
longitude                       0
host_id                         0
host_name                       0
host_since                      0
host_location                   0
host_response_time           4064
host_response_rate              0
host_acceptance_rate            0
host_is_superhost            1319
host_listings_count             0
host_total_listings_count       0
host_verifications              0
host_has_profile_pic            0
host_identity_verified          0
property_type                   0
room_type                       0
accommodates                    0
bathrooms_text                105
bedrooms                        0
beds                            0
beds.1                          0
price                        5388
minimum_nights                  0
maximum_nights                  0
minimum_minimum_nights          0
maximum_minimum_nights          0
minimum_maximum_nights          0
maximum_maximum_nights          0
minimum_nights_avg_ntm          0
maximum_nights_avg_ntm          0
has_availability             2231
availability_30                 0
availability_60                 0
availability_90                 0
availability_365                0
calendar_last_scraped           0
number_of_reviews               0
number_of_reviews_ltm           0
number_of_reviews_l30d          0
number_of_reviews_ly            0
estimated_occupancy_l365d       0
estimated_revenue_l365d      5388
review_scores_rating         9464
review_scores_cleanliness    9465
reviews_per_month            9464
dtype: int64

In [13]:
# La columnas 'host_has_profile_pic' con 2, 'host_identity_verified' con 2 son categoricas, utilizando True or False como t y f.
# La solución más optima para tratar esto NAs es a través de un string en concreto que sería 'f' ya que no impactaría de forma negativa en los valores de la columna y que lo más probable es que esos 2 registros no cuenten con la información de las variables.
df['host_has_profile_pic'] = df['host_has_profile_pic'].fillna("f")
df['host_identity_verified'] = df['host_identity_verified'].fillna("f")
print(df[['host_has_profile_pic', 'host_identity_verified']].isnull().sum())

host_has_profile_pic      0
host_identity_verified    0
dtype: int64

In [14]:
# Columna 'bathrooms_text' con 105
# Checar que es mejor poner
#moda_bathrooms = df['bathrooms_text'].mode()[0]
#df['bathrooms_text'] = df['bathrooms_text'].fillna(moda_bathrooms)

In [15]:
# Columna 'bedrooms' con 1281 NAs
# Para tratar esta columna lo mejor es sustituirlo con la mediana que 1, ya que es mejor ante valores atípicos y mantendría una consistencia estadística.
df['bedrooms']=df['bedrooms'].fillna(round(df['bedrooms'].median(),0))
# Corroborar los cambios hechos
df['bedrooms'].isnull().sum()

np.int64(0)

In [16]:
# Las columnas 'beds' con 5443 y 'beds.1' con 5443
# Ambas columnas cuentan con los mismos valores, por lo que en ambas se trataran los NAs con la mediana que es 1 que es robusta ante distribuciones sesgadas.
df['beds']=df['beds'].fillna(round(df['beds'].median(),0))
df['beds.1']=df['beds.1'].fillna(round(df['beds.1'].median(),0))
# Comprobar que los cambios se hayan realizado correctamente 
print(df[['beds', 'beds.1']].isnull().sum())

beds      0
beds.1    0
dtype: int64